{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "parser": "babel-eslint",
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true
  }
}
